<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<body class="d-flex flex-column min-vh-100">
<div class="container-fluid flex-grow-1 d-flex flex-column">
    <div class="header row align-items-center">
        <div class="logo col-lg-2">
            <img src="/img/logo.svg"/>
        </div>
    </div>

    <div class="container d-flex flex-column justify-content-center align-items-center flex-grow-1">
        <div class="row g-3 w-100">
            <div class="col-md-6">
                <a href="/login?action=talon" class="d-block p-4 bg-white text-decoration-none text-center border rounded h-100 hover-shadow btngettalon">
                    <img th:src="@{/img/doctor.png}" alt="Талон" class="mb-3">
                    <div class="fs-5 fw-semibold">Распечатать<br>талон к врачу</div>
                </a>
            </div>

            <div class="col-md-6">
                <a href="/login?action=results" class="d-block p-4 bg-white text-decoration-none text-center border rounded h-100 hover-shadow btngetlabresults">
                    <img th:src="@{/img/labresults.png}" alt="Анализы" class="mb-3">
                    <div class="fs-5 fw-semibold">Распечатать<br>результаты анализов</div>
                </a>
            </div>
        </div>
    </div>
</div>
</body>
</html>